<h1 class="head">
    This is my first calculator app created using Angular! Enjoy!
</h1>

<input [(ngModel)]='num1' type="number" name="first-number" placeholder="Enter First Number">
<input [(ngModel)]='num2' type="number" name="second-number" placeholder="Enter Second Number">
<br><br>
<button mat-raised-button color="blue" (click)='calculator_add()'>
    Add
</button>
<button mat-raised-button color="blue" (click)='calculator_subtract()'>
    Subtract
</button>
<button mat-raised-button color="blue" (click)='calculator_multiply()'>
    Multiply
</button>
<button mat-raised-button color="blue" (click)='calculator_divide()'>
    Divide
</button>
<h2>{{ result }}</h2> <button mat-raised-button color="red" (click)='calculator_clear()'>Clear</button>